version: "3.8"

services:
  etl:
    container_name: python-etl
    stdin_open: true
    tty: true
    environment:
      APP_PATH: /usr/src/app
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - screener
    volumes:
      - type: bind
        source: .
        target: /usr/src/app
    depends_on:
      - etl-postgres-db
    
  etl-postgres-db:
    container_name: screener-etl-pgdb
    image: postgres:latest
    ports:
      - "5432:5432"
    networks:
      - screener
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - type: volume
        source: screener-postgres-data
        target: /var/lib/postgresql/data
        volume:
          nocopy: true
      - /Users/htellechea/p_projects/screener-db-init/postgres/create_tables.sql:/usr/local/etc/create_tables.sql
      - /Users/htellechea/p_projects/screener-db-init/postgres/cik_ticker_mappings.txt:/usr/local/etc/cik_ticker_mappings.txt
      - /Users/htellechea/p_projects/screener-db-init/postgres/docker-initdb:/docker-entrypoint-initdb.d

networks:
  screener:

# Assumes this volume has been previously created
volumes:
  screener-postgres-data:
    external: true
